
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.no-border {
  border: none;
}

.shadow-border {
  @extend .no-border;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.dashboard-navigation-menu > a {
  color: #6c757d;
  padding: 0.50rem 1.25rem;
}

.dashboard-navigation-menu > a:hover {
  color: black;
  cursor: pointer;
}

.dashboard-navigation-menu > a.active-link {
  color: black;
  border-left: 3px solid green;
  padding: 0.50rem 1.06rem;
}

.lesson-description {
  @extend .lead;
  font-size: 1rem;
}
